.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#Main-heading{
  text-align: center;
  font-size: 75px;
  color: orange;
  font-family: "Samarkan";
  margin-bottom: 0%;
  margin-block-start: 0.37em;
  margin-block-end: 0.17em;
}

#sub-heading{
  text-align: center;
  font-size: 45px;
  color: rgb(157, 255, 0);
  font-family: "Samarkan";
  margin-block-start: 0.13em;
  margin-block-end: 0.33em;
}
#credit{
  margin-left: 40%;
  font-family: "Samarkan";
   font-size: 32px;
   color: white;
   padding-bottom: 30px;
 }
 #colorstrip{
  width: 100%; height: 2px;
  border-style: solid;
  border-color: white;
}
#strip{
  width: 100%; height: 35px;
  background-color: black;
  margin-bottom: 1em;
}

