body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
  
  src: url("./SAMARO__.TTF");
  font-family: "Samarkan";
}
h1{
  font-family: "Samarkan";
}
#credit{
 margin-left: 40%;
  font-size: 28px;
}
#Main-heading{
  text-align: center;
  font-size: 75px;
  color: orange;
  font-family: "Samarkan";
}
#sub-heading{
  text-align: center;
  font-size: 45px;
  color: blue;
  font-family: "Samarkan";
}